# Python
__pycache__/
*.pyc
*.pyo
venv/

# Virtual envs
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Notebook outputs
notebooks/*.png
notebooks/*.csv

# LaTeX build
tex/*
!tex/*.tex
!tex/*.pdf
!tex/presentation/
tex/presentation/*
!tex/presentation/*.tex
!tex/presentation/*.pdf

# System
.DS_Store
